@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

@layer base {
  :root {
    --bg: #0a0c12;
    --primary: #023661;
    --secondary: #3F3A42;
    --accent: #76B2BE;
    --warning: #DB5227;
    --logo-bg: #dd1814;

    --font-anton: "Anton", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
  }

  .font-anton {
    font-family: var(--font-anton) !important;
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}
